In [1]:
#initialization
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('JunqiYang722').getOrCreate()
#Read csv file
df = spark.read.csv('AirQuality.csv',header=True,inferSchema=True)

Initial Exploration

In [2]:
df.show()

+--------------+-------+--------+---+----+----+---+----+----+----+-------+----+----+--------+---------+----+----+---+---+-----+----------+----------+-----+
|          time|station|AMB_TEMP|CH4|  CO|NMHC| NO| NO2| Nox|  O3|PH_RAIN|PM10|PM25|RAINFALL|RAIN_COND|  RH| SO2|THC|UVB|WD_HR|WIND_DIREC|WIND_SPEED|WS_HR|
+--------------+-------+--------+---+----+----+---+----+----+----+-------+----+----+--------+---------+----+----+---+---+-----+----------+----------+-----+
| 2015/1/1 0:00|Banqiao|    16.0|2.1|0.79|0.14|1.2|16.0|17.0|37.0|     NR| 177|78.0|      NR|       NR|57.0|12.0|2.2|0.0| 69.0|      69.0|       4.7|  4.2|
| 2015/1/1 1:00|Banqiao|    16.0|2.1| 0.8|0.15|1.3|16.0|17.0|36.0|     NR| 178|77.0|      NR|       NR|57.0|11.0|2.2|0.0| 67.0|      65.0|       4.0|  4.0|
| 2015/1/1 2:00|Banqiao|    16.0|2.1|0.71|0.13|1.0|13.0|14.0|38.0|     NR| 163|72.0|      NR|       NR|57.0| 8.0|2.2|0.0| 63.0|      53.0|       3.7|  3.5|
| 2015/1/1 3:00|Banqiao|    15.0|2.0|0.66|0.12|0.8|11.0|12.0|39.0|     NR| 147|65.0|      NR|       NR|58.0| 6.5|2.2|0.0| 63.0|      63.0|       4.1|  3.3|
| 2015/1/1 4:00|Banqiao|    15.0|2.0|0.53|0.11|0.6|10.0|11.0|38.0|     NR| 131|56.0|      NR|       NR|58.0| 5.5|2.1|0.0| 69.0|      67.0|       3.0|  3.1|
| 2015/1/1 5:00|Banqiao|    14.0|2.0| 0.5|0.11|0.8|11.0|12.0|37.0|     NR| 112|46.0|      NR|       NR|57.0| 5.7|2.1|0.0| 68.0|      62.0|       2.9|  3.3|
| 2015/1/1 6:00|Banqiao|    14.0|2.0|0.57|0.14|1.4|18.0|19.0|29.0|     NR| 103|45.0|      NR|       NR|57.0| 5.8|2.1|0.0| 74.0|      70.0|       3.6|  2.2|
| 2015/1/1 7:00|Banqiao|    14.0|2.0|0.61|0.14|2.3|17.0|20.0|27.0|     NR| 104|42.0|      NR|       NR|56.0| 6.5|2.2|0.2| 66.0|      72.0|       3.1|  3.0|
| 2015/1/1 8:00|Banqiao|    14.0|2.0|0.59|0.13|2.9|15.0|18.0|29.0|     NR| 111|45.0|      NR|       NR|53.0| 6.8|2.1|0.7| 71.0|      73.0|       2.8|  3.3|
| 2015/1/1 9:00|Banqiao|    14.0|2.0| 0.6|0.14|4.1|16.0|20.0|29.0|     NR| 111|46.0|      NR|       NR|50.0| 5.9|2.1|1.6| 73.0|      68.0|       3.6|  3.2|
|2015/1/1 10:00|Banqiao|    15.0|2.0|0.55|0.13|4.2|14.0|18.0|35.0|     NR| 100|41.0|      NR|       NR|47.0| 5.2|2.1|3.0| 69.0|      68.0|       4.3|  3.5|
|2015/1/1 11:00|Banqiao|    14.0|2.0|0.51|0.11|3.8|13.0|17.0|39.0|     NR|  92|38.0|      NR|       NR|45.0| 4.5|2.1|3.6| 73.0|      84.0|       3.0|  3.5|
|2015/1/1 12:00|Banqiao|    15.0|2.0|0.47|0.11|4.2|12.0|16.0|41.0|     NR|  83|36.0|      NR|       NR|44.0| 3.7|2.1|4.1| 71.0|      67.0|       4.9|  3.3|
|2015/1/1 13:00|Banqiao|    14.0|2.0|0.42|0.09|2.9|10.0|13.0|43.0|     NR|  76|31.0|      NR|       NR|46.0| 3.3|2.1|3.2| 67.0|      69.0|       4.3|  3.9|
|2015/1/1 14:00|Banqiao|    14.0|2.0|0.41| 0.1|3.0|12.0|15.0|39.0|     NR|  73|25.0|      NR|       NR|49.0| 3.0|2.0|1.6| 69.0|      67.0|       3.9|  3.6|
|2015/1/1 15:00|Banqiao|    13.0|2.0|0.42| 0.1|2.4|13.0|16.0|36.0|     NR|  66|25.0|      NR|       NR|52.0| 3.0|2.0|0.6| 71.0|      73.0|       3.5|  3.4|
|2015/1/1 16:00|Banqiao|    13.0|2.0|0.45|0.11|1.8|14.0|16.0|33.0|     NR|  61|24.0|      NR|       NR|53.0| 3.2|2.1|0.1| 68.0|      69.0|       3.2|  3.5|
|2015/1/1 17:00|Banqiao|    13.0|2.0|0.46|0.12|2.0|16.0|18.0|31.0|     NR|  57|20.0|      NR|       NR|53.0| 3.0|2.1|0.0| 68.0|      70.0|       3.9|  3.5|
|2015/1/1 18:00|Banqiao|    13.0|2.0|0.45|0.13|2.5|18.0|20.0|29.0|     NR|  50|22.0|      NR|       NR|53.0| 3.2|2.1|0.0| 73.0|      85.0|       1.9|  2.8|
|2015/1/1 19:00|Banqiao|    13.0|2.0|0.48|0.15|2.8|21.0|24.0|24.0|     NR|  45|20.0|      NR|       NR|55.0| 3.3|2.1|0.0| 84.0|      95.0|       1.7|  1.7|
+--------------+-------+--------+---+----+----+---+----+----+----+-------+----+----+--------+---------+----+----+---+---+-----+----------+----------+-----+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- time: string (nullable = true)
 |-- station: string (nullable = true)
 |-- AMB_TEMP: double (nullable = true)
 |-- CH4: double (nullable = true)
 |-- CO: double (nullable = true)
 |-- NMHC: double (nullable = true)
 |-- NO: double (nullable = true)
 |-- NO2: double (nullable = true)
 |-- Nox: double (nullable = true)
 |-- O3: double (nullable = true)
 |-- PH_RAIN: string (nullable = true)
 |-- PM10: integer (nullable = true)
 |-- PM2.5: double (nullable = true)
 |-- RAINFALL: string (nullable = true)
 |-- RAIN_COND: string (nullable = true)
 |-- RH: double (nullable = true)
 |-- SO2: double (nullable = true)
 |-- THC: double (nullable = true)
 |-- UVB: double (nullable = true)
 |-- WD_HR: double (nullable = true)
 |-- WIND_DIREC: double (nullable = true)
 |-- WIND_SPEED: double (nullable = true)
 |-- WS_HR: double (nullable = true)

In [14]:
df.select('SO2', 'AMB_TEMP', 'PM10').describe().show()

+-------+------------------+------------------+------------------+
|summary|               SO2|          AMB_TEMP|              PM10|
+-------+------------------+------------------+------------------+
|  count|            214531|            197748|            213374|
|   mean|3.4552978357440183|23.312762505815478|45.496306953986895|
| stddev| 5.796185576838794|5.8679476400683255|163.48165810591306|
|    min|               0.0|             -30.0|               -64|
|    max|             368.0|              59.0|              9999|
+-------+------------------+------------------+------------------+

In [3]:
df.describe().show()

+-------+-------------+-------+------------------+-------------------+------------------+-------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+
|summary|         time|station|          AMB_TEMP|                CH4|                CO|               NMHC|               NO|               NO2|               Nox|                O3|          PH_RAIN|              PM10|              PM25|          RAINFALL|         RAIN_COND|                RH|               SO2|               THC|               UVB|             WD_HR|       WIND_DIREC|       WIND_SPEED|             WS_HR|
+-------+-------------+-------+------------------+-------------------+------------------+-------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+
|  count|       216107| 216107|            197748|              94859|            214786|              94730|           214700|            214572|            214701|            197455|            34037|            213374|            213287|            206512|             34037|            197821|            214531|             94860|             25663|            180558|           180295|           180323|            180129|
|   mean|         null|   null|23.312762505815478| 1.9349697972769042| 0.564809810695283|0.26849699144938616|9.078314392175002|  17.9479032679007|26.997343747816807|29.051350940720482| 4.41915180983252|45.496306953986895| 19.51441625603061|4.4398056625892695| 62.00591572123182|  75.8070260488017|3.4552978357440183| 2.202982289690041|1.3187273506604622|145.21167325734672|145.3958107545969|2.412507555885776|1.9870553880829502|
| stddev|         null|   null|5.8679476400683255|0.21171637361324822|0.5461413336430129| 0.2399703566314034|17.80259263685419|12.089868411886085|26.738421026492063|17.876994479645365|1.129524692030328|163.48165810591306|60.047223796786135|24.706921029374744|125.52836622433603|13.759191044859712| 5.796185576838794|0.3873162486818372|2.3247583924959483| 86.68397620770435| 87.7415495193223| 1.67320831350203|1.6520584080246945|
|    min|2015/1/1 0:00|Banqiao|             -30.0|                0.0|               0.0|              -8.24|              0.0|               0.0|               0.0|               0.0|                0|               -64|               0.0|                 0|                 0|               0.0|               0.0|              -0.1|               0.0|               0.0|              0.0|              0.0|               0.0|
|    max|2015/9/9 9:00|   izhi|              59.0|               15.0|              38.0|               6.86|            358.0|             166.0|             411.0|             200.0|               NR|              9999|           10199.0|                NR|                NR|             100.0|             368.0|              20.0|              13.0|             360.0|            360.0|             29.0|              28.0|
+-------+-------------+-------+------------------+-------------------+------------------+-------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+

In [6]:
print("Total data points:", df.count())

Total data points: 216107

In [8]:
import pandas as pd
pddf=pd.read_csv('AirQuality.csv')
#spark_df = spark.createDataFrame(pddf)
#spark_df.show()
pddf.drop(['CH4','NMHC','THC','UVB','RAINFALL','RAIN_COND','PH_RAIN','station','time'],axis=1,inplace=True)
pddf.describe()

/home/ubuntu/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,AMB_TEMP,CO,NO,NO2,Nox,O3,PM10,PM25,RH,SO2,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
count,197748.000000,214786.000000,214700.000000,214572.000000,214701.000000,197455.000000,213374.000000,213287.000000,197821.000000,214531.000000,180558.000000,180295.000000,180323.000000,180129.000000
mean,23.312763,0.564810,9.078314,17.947903,26.997344,29.051351,45.496307,19.514416,75.807026,3.455298,145.211673,145.395811,2.412508,1.987055
std,5.867948,0.546141,17.802593,12.089868,26.738421,17.876994,163.481658,60.047224,13.759191,5.796186,86.683976,87.741550,1.673208,1.652058
min,-30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-64.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.270000,1.400000,8.600000,10.000000,15.000000,26.000000,9.000000,67.000000,1.700000,76.000000,75.000000,1.200000,0.800000
50%,24.000000,0.420000,2.700000,15.000000,19.000000,28.000000,37.000000,16.000000,77.000000,2.600000,112.000000,112.000000,2.000000,1.500000
75%,28.000000,0.660000,7.500000,25.000000,33.000000,41.000000,52.000000,25.000000,86.000000,4.000000,220.000000,221.000000,3.100000,2.700000
max,59.000000,38.000000,358.000000,166.000000,411.000000,200.000000,9999.000000,10199.000000,100.000000,368.000000,360.000000,360.000000,29.000000,28.000000

In [9]:
pddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216107 entries, 0 to 216106
Data columns (total 14 columns):
AMB_TEMP      197748 non-null float64
CO            214786 non-null float64
NO            214700 non-null float64
NO2           214572 non-null float64
Nox           214701 non-null float64
O3            197455 non-null float64
PM10          213374 non-null float64
PM25          213287 non-null float64
RH            197821 non-null float64
SO2           214531 non-null float64
WD_HR         180558 non-null float64
WIND_DIREC    180295 non-null float64
WIND_SPEED    180323 non-null float64
WS_HR         180129 non-null float64
dtypes: float64(14)
memory usage: 23.1 MB

In [10]:
pddf.dropna(axis=0,how='any',inplace=True)

In [11]:
pddf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178059 entries, 0 to 216106
Data columns (total 14 columns):
AMB_TEMP      178059 non-null float64
CO            178059 non-null float64
NO            178059 non-null float64
NO2           178059 non-null float64
Nox           178059 non-null float64
O3            178059 non-null float64
PM10          178059 non-null float64
PM25          178059 non-null float64
RH            178059 non-null float64
SO2           178059 non-null float64
WD_HR         178059 non-null float64
WIND_DIREC    178059 non-null float64
WIND_SPEED    178059 non-null float64
WS_HR         178059 non-null float64
dtypes: float64(14)
memory usage: 20.4 MB

In [18]:
from pyspark.sql import SQLContext
from pyspark import SparkContext

sqlContest = SQLContext(spark)
spark_df = sqlContest.createDataFrame(pddf)

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38979)
Traceback (most recent call last):
  File "/home/ubuntu/spark-2.1.1-bin-hadoop2.7/python/lib/py4j-0.10.4-src.zip/py4j/java_gateway.py", line 827, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/ubuntu/spark-2.1.1-bin-hadoop2.7/python/lib/py4j-0.10.4-src.zip/py4j/java_gateway.py", line 963, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:38979)